# Read Mission Data

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pprint import pprint
import numpy as np
import pandas as pd
import time
from tqdm.notebook import trange, tqdm
import pdb

In [3]:
from convert_csv import row2rdf, renameDF

## GAIA

In [4]:
gaia_df = pd.read_csv('gaia_data.csv')
gaia_df

,class,name,label,known_as,parent
0,Mission,gaia,GAIA,gaia;gaia mission,NaN
1,SpaceSegment,ss,Space Segment,space segment,gaia
2,GroundSegment,gs,Ground Segment,ground segment,gaia
3,Spacecraft,sc,Spacecraft,gaia;spacecraft,ss
4,Subsystem,svm,Service Module (SVM),service module,sc
5,Subsystem,esvm,Electrical Service Module (E-SVM),electrical service module,svm
6,Subsystem,msvm,Mechanical Service Module (M-SVM),mechanical service module,svm
7,Subsystem,cdms,Control and Data Management System (CDMS),obdh;data management system,svm
8,Subsystem,cdmu,Control and Data Management Unit (CDMU),obdh;data management unit,cdms
9,Subsystem,aocs,Attitude and Orbit Control System (AOCS),attitude control system;orbit control system,svm;esvm;msvm
10,Subsystem,str,Star Tracker set (STR),star tracker,aocs;esvm
11,Subsystem,str1,Star Tracker 1 (STR-1),star tracker 1;str1;str-2,str
12,Subsystem,str2,Star Tracker 1 (STR-2),star tracker 2;str2;str-2,str
13,Subsystem,gyro,Gyroscope Set (GYRO),gyro;gyro set;gyroscope,aocs;esvm
14,Subsystem,gyro1,Gyroscope 1 (GYRO-1),gyro-1;gyro 1;gyroscope 1,gyro
15,Subsystem,gyro2,Gyroscope 1 (GYRO-2),gyro-2;gyro 2;gyroscope 2,gyro
16,Subsystem,gyro3,Gyroscope 1 (GYRO-3),gyro-3;gyro 3;gyroscope 3,gyro
17,Subsystem,fss,Fine Sun Sensors set (FSS),fss;fine sun sensor;fss set;fine sun sensor se...,aocs;esvm
18,Subsystem,fss1,Fine Sun Sensor 1 (FSS-1),fss1;fine sun sensor 1;fss-1;sun sensor 1,fss
19,Subsystem,fss2,Fine Sun Sensor 1 (FSS-2),fss2;fine sun sensor 2;fss-2;sun sensor 2,fss
20,Subsystem,fss3,Fine Sun Sensor 1 (FSS-3),fss3;fine sun sensor 3;fss-3;sun sensor 3,fss
21,Subsystem,ps,Propulsion System (PS),ps;propulsion system;reaction control system;rcs,aocs;msvm
22,Subsystem,cps,Chemical Propulsion System (CPS),cps;chemical propulsion system,ps
23,Subsystem,cpsa,Chemical Propulsion System A (CPS-A),cpsa;chemical propulsion system a;cps-a,cps
24,Subsystem,cpsb,Chemical Propulsion System B (CPS-B),cpsb;chemical propulsion system b;cps-b,cps
25,Subsystem,mps,Micro-Propulsion System (MPS),mps;micro propulsion system,ps

In [5]:
df_transform = renameDF(gaia_df)
df_transform.head()

,class,name,label,known_as,parent
0,Mission,gaia_mission,GAIA,gaia;gaia mission,NaN
1,SpaceSegment,gaia_ss,GAIA Space Segment,space segment,[gaia_mission]
2,GroundSegment,gaia_gs,GAIA Ground Segment,ground segment,[gaia_mission]
3,Spacecraft,gaia_sc,GAIA Spacecraft,gaia;spacecraft,[gaia_ss]
4,Subsystem,gaia_svm,GAIA Service Module (SVM),service module,[gaia_sc]

In [7]:
row_test = df_transform.loc[9]
rdf_str_test = row2rdf(row_test)
rdf_str_test

"<gaia_aocs> a ioa:Subsystem ;\n  ioa:hasName 'gaia_aocs' ;\n  ioa:hasParent <gaia_svm> ;\n  ioa:hasParent <gaia_esvm> ;\n  ioa:hasParent <gaia_msvm> ;\n  rdfs:label 'GAIA Attitude and Orbit Control System (AOCS)' ."

In [8]:
all_rdf_str = ["""@base <http://ioa-graph/resource/> .
@prefix ioa: <http://www.semanticweb.org/esa-ioa/ontologies/2022/ioa-ontology#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> ."""]

for index, row in df_transform.iterrows():
    all_rdf_str.append(row2rdf(row))

with open('gaia_rdf.ttl', 'w') as f:
    f.write('\n\n'.join(all_rdf_str))

## Cluster

In [13]:
cluster_df = pd.read_csv('cluster_data.csv')
cluster_df

,class,name,label,known_as,parent,attributes
0,Mission,cluster,Cluster II,cluster;cluster ii;cluster mission,NaN,NaN
1,SpaceSegment,ss,Space Segment,space segment;cluster space segment,cluster,NaN
2,GroundSegment,gs,Ground Segment,ground segment;cluster ground segment,cluster,NaN
3,Constellation,constellation,Satellite Constellation,constellation;cluster constellation;cluster ii,ss,NaN
4,Spacecraft,clu1,Salsa,clu1;salsa;cluster ii fm6;fm6;2000-041b;26411,constellation,"{'norad_id':26411, 'international_code':'2000-..."
...,...,...,...,...,...,...
191,Subsystem,clu4_wbd,Wide Band Data (WBD),wbd;wide band data,clu4_wec,NaN
192,Subsystem,clu4_dwp,Digital Wave Processor (DWP),dwp;digital wave processor,clu4_wec,NaN
193,Subsystem,clu4_pwr,Power Supply (PWR),pwr;power supply,clu4_wec,NaN
194,Subsystem,clu4_staff,Spatio-Temporal Analysis of Field Fluctuations...,staff;spatio-temporal analysis of field fluctu...,clu4_wec,NaN
195,Subsystem,clu4_whisper,Waves of HIgh frequency and Sounder for the Pr...,whisper;waves of high frequency and sounder fo...,clu4_wec,NaN

In [15]:
df_transform_cluster = renameDF(cluster_df.copy())
df_transform_cluster.tail(10)

,class,name,label,known_as,parent,attributes
186,Subsystem,cluster_clu4_leea,Cluster II Low Energy Electron Analyser (LEEA),leea;low energy electron analyser,[cluster_clu4_peace],NaN
187,Subsystem,cluster_clu4_dpu,Cluster II Data Processing Unit (DPU),dpu;data processing unit,[cluster_clu4_peace],NaN
188,Subsystem,cluster_clu4_rapid,Cluster II Research with Adaptive Particle Ima...,rapid;research with adaptive particle imaging ...,[cluster_clu4_payload],NaN
189,Subsystem,cluster_clu4_wec,Cluster II Wave Experiment Consortium (WEC),wec;wave experiment consortium,[cluster_clu4_payload],NaN
190,Subsystem,cluster_clu4_efw,Cluster II Electric Field and Wave Experiment ...,efw;electric field and wave experiment,[cluster_clu4_wec],NaN
191,Subsystem,cluster_clu4_wbd,Cluster II Wide Band Data (WBD),wbd;wide band data,[cluster_clu4_wec],NaN
192,Subsystem,cluster_clu4_dwp,Cluster II Digital Wave Processor (DWP),dwp;digital wave processor,[cluster_clu4_wec],NaN
193,Subsystem,cluster_clu4_pwr,Cluster II Power Supply (PWR),pwr;power supply,[cluster_clu4_wec],NaN
194,Subsystem,cluster_clu4_staff,Cluster II Spatio-Temporal Analysis of Field F...,staff;spatio-temporal analysis of field fluctu...,[cluster_clu4_wec],NaN
195,Subsystem,cluster_clu4_whisper,Cluster II Waves of HIgh frequency and Sounder...,whisper;waves of high frequency and sounder fo...,[cluster_clu4_wec],NaN

In [16]:
row_test = df_transform_cluster.loc[9]
rdf_str_test = row2rdf(row_test)
rdf_str_test

"<cluster_clu1_platform> a ioa:Platform ;\n  ioa:hasName 'cluster_clu1_platform' ;\n  ioa:hasParent <cluster_clu1> ;\n  rdfs:label 'Cluster II Platform' ."

In [17]:
all_rdf_str = ["""@base <http://ioa-graph/resource/> .
@prefix ioa: <http://www.semanticweb.org/esa-ioa/ontologies/2022/ioa-ontology#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> ."""]

for index, row in df_transform_cluster.iterrows():
    all_rdf_str.append(row2rdf(row))

with open('cluster_rdf.ttl', 'w') as f:
    f.write('\n\n'.join(all_rdf_str))